asgiref==3.5.2
certifi==2022.9.14
charset-normalizer==2.1.1
dj-database-url==0.5.0
dj-email-url==1.0.5
Django==4.1.1
django-cache-url==3.4.2
django-database-url==1.0.3
django-debug-toolbar==3.2.1
django-phonenumber-field==6.3.0
djangorestframework==3.13.1
environs==9.3.2
geographiclib==1.52
geopy==2.2.0
idna==3.4
marshmallow==3.18.0
packaging==21.3
phonenumbers==8.12.55
Pillow==9.2.0
psycopg2==2.9.3
pyparsing==3.0.9
python-dotenv==0.21.0
pytz==2022.2.1
requests==2.28.1
rollbar==0.16.3
six==1.16.0
sqlparse==0.4.2
urllib3==1.26.12
